{% set settings = openingTimes.getBackendSettings %}
{% set oTimesRepeater = settings.oTimes %}
{% set exceptions = settings.exceptions %}

{% if dayMissing %}
    <p>Day missing! Cannot calculate with opening Times. Be sure to have every day checked once!</p>
{% endif %}

{# Opening Times List Begin #}
{% for row in oTimesRepeater %}

    {% if row.show %} {# if time should be shown #}

        <time {% if not row.closed %}itemprop="openingHours" datetime="{% for day in row.days %}{# Output short Version of Weekday #}{{ "zwiebl.openingtimes::lang.days_seo.#{day}" | trans }}{{ loop.last ? '': ',' }}{% endfor %} {{ times }}"{% endif %}>
            {% for day in row.days %} {# Output short Version of Weekday #}

                {% if __SELF__.property('shortDayNames') %}
                    {{ "zwiebl.openingtimes::lang.days_short.#{day}" | trans }}{{ loop.last ? ':': ',' }}
                {% else %}
                    {{ "zwiebl.openingtimes::lang.days.#{day}" | trans }}{{ loop.last ? ':': ',' }}
                {% endif %}
            {% endfor %}

            {% if row.custom_text %}
                {{ row.custom_text }}
            {% else %}

                {% if not row.closed %}

                    {% for time in row.timerepeater %}

                        {% if activeLocale == 'en' %}
                            {{ time.time_from|date('h:ia') }} - {{ time.time_till|date('h:ia') }} {{ "zwiebl.openingtimes::lang.strings.Uhr" | trans }}{{ not loop.last ? ',' }}
                        {% else %}
                            {{ time.time_from|date('H:i') }} - {{ time.time_till|date('H:i') }} {{ "zwiebl.openingtimes::lang.strings.Uhr" | trans }}{{ not loop.last ? ',' }}
                        {% endif %}

                    {% endfor %}

                {% endif %}

            {% endif %}

            {% if row.closed and not row.custom_text %} {# if closed is clicked #}
                {{ "zwiebl.openingtimes::lang.strings.closed" | trans }}
            {% endif %}
            <br>
        </time>
    {% endif %} {# if row show #}
{% else %} {# for loop #}
    <p>No openingtimes configured. Go to "Backend -> Settings -> Opening Times" and change this.</p>
{% endfor %}
{# Opening Times List end #}



{# List oTimes Exceptions #}
<br>
{% for row in exceptions %}

    {% if ('now'|date('d.m.Y') <= row.date|date('d.m.Y') ) %}

        {% if row.show %}
            <time {% if not row.closed %}itemprop="openingHours" datetime="{{ row.date }} {{ times }}"{% endif %}>
                {{ ('now'|date('d.m.Y') == row.date|date('d.m.Y')) ? 'Heute' : row.date|date('d.m.Y') }}:

                {% if not row.closed %}
                    {% for time in row.timerepeater %}
                        {% if activeLocale == 'en' %}
                            {{ time.time_from|date('h:ia') }} - {{ time.time_till|date('h:ia') }} {{ "zwiebl.openingtimes::lang.strings.Uhr" | trans }}{{ not loop.last ? ',' }}
                        {% else %}
                            {{ time.time_from|date('H:i') }} - {{ time.time_till|date('H:i') }} {{ "zwiebl.openingtimes::lang.strings.Uhr" | trans }}{{ not loop.last ? ',' }}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if row.closed and not row.customText %}
                    {{ "zwiebl.openingtimes::lang.strings.closed" | trans }}
                {% else %}
                    {{ row.customText }}
                {% endif %}

                <br>
            </time>
        {% endif %}

    {% endif %}

{% endfor %}

